<br>
<div class="w-[80%] max-w-full mb-6">
  <div class="border border-gray-100 shadow-md shadow-black/5 p-6 rounded-md bg-gray-900 text-white">
    <div class="flex justify-between mb-4 items-start">
      <div class="font-medium">Sekolah List</div>
    </div>
    <div class="overflow-x-auto">
      <table class="w-full min-w-[640px]">
        <thead>
          <tr>
            <th class="text-[12px] uppercase tracking-wide font-medium text-gray-400 py-2 px-4 bg-gray-900 text-left">#</th>
            <th class="text-[12px] uppercase tracking-wide font-medium text-gray-400 py-2 px-4 bg-gray-900 text-left">Nama Sekolah</th>
            <th class="text-[12px] uppercase tracking-wide font-medium text-gray-400 py-2 px-4 bg-gray-900 text-left">Jurusan</th>
            <th class="text-[12px] uppercase tracking-wide font-medium text-gray-400 py-2 px-4 bg-gray-900 text-left">Alamat</th>
            <% if user_signed_in? %>
              <% if current_user.admin? %>
                <th class="text-[12px] uppercase tracking-wide font-medium text-gray-400 py-2 px-4 bg-gray-900 text-left">Actions</th>
              <% end %>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @sekolahs.each.with_index(1) do |sekolah, index| %>
            <tr data-id="<%= sekolah.id %>">
              <td class="py-2 px-4 border-b border-b-gray-50"><%= index %></td>
              <td class="py-2 px-4 border-b border-b-gray-50"><%= sekolah.title %></td>
              <td class="py-2 px-4 border-b border-b-gray-50"><%= sekolah.jurusan %></td>
              <td class="py-2 px-4 border-b border-b-gray-50"><%= sekolah.alamat %></td>
              <% if user_signed_in? %>
                <% if current_user.admin? %>
                  <td class="py-2 px-4 border-b border-b-gray-50 text-center">
                    <%= link_to 'Show', sekolah, class: "text-blue-500 hover:text-blue-700" %>
                    <%= link_to 'Edit', edit_sekolah_path(sekolah), class: "text-yellow-500 hover:text-yellow-700 mx-2" %>
                    <%= link_to 'Destroy', sekolah, method: :delete, data: { confirm: 'Are you sure?' }, class: "text-red-500 hover:text-red-700" %>
                  </td>
                <% end %>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
     <br>
  <% if user_signed_in? %>
    <% if current_user.admin? %>
      <%= link_to "Masukan Sekolah", new_sekolah_path, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full border border-blue-500" %>
    <% end %>
  <% end %>
  </div>
 
</div>
