<div id="<%= dom_id crud_list %>">
  <p>
    <strong>First name:</strong>
    <%= crud_list.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= crud_list.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= crud_list.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= crud_list.phone %>
  </p>

  <p>
    <strong>Twitter:</strong>
    <%= crud_list.twitter %>
  </p>

</div>
