<%= form_with(model: crud_list) do |form| %>
  <% if crud_list.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(crud_list.errors.count, "error") %> prohibited this crud_list from being saved:</h2>

      <ul>
        <% crud_list.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <br/>

  <div class="field form-label">
   
    <%= form.text_field :first_name, class:"form-control", placeholder:"FirstName" %>
  </div>
  <br/>

  <div class="field form-label">
   
    <%= form.text_field :last_name,  class:"form-control", placeholder:"LastName"  %>
  </div>
  <br/>

  <div class="field form-label">
    
    <%= form.text_field :email,  class:"form-control", placeholder:"Email"   %>
  </div>
  
    <div class="mb-3">
    <label for="sekolahSelect" class="form-label"></label>
    <select id="sekolahSelect" class="form-select" name="crud_list[sekolah_id]">
      <option>Sekolah dan jurusan</option>
      <% @sekolahs.each do |sekolah| %>
        <option value="<%= sekolah.id %>"><%= sekolah.title %> - <%= sekolah.jurusan %></option>
      <% end %>
    </select>
  </div>
  
 
  <br/>

  <div>
    <%= form.submit class:"btn btn-primary" %>
  </div>
<% end %>
