<p class='bg-green'><%= notice %></p>

<br>
<div class="w-full mb-6 ml-6">
  <div class="border border-gray-100 shadow-md shadow-black/5 p-6 rounded-md bg-gray-900 text-white">
    <div class="flex justify-between mb-4 items-start">
      <div class="font-medium">Student List</div>
    </div>
    <div class="flex items-center mb-4 order-tab bg-gray-900">
      <button type="button" data-tab="order" data-tab-page="active" class="bg-gray-900 text-sm font-medium text-gray-400 py-2 px-4 rounded-tl-md rounded-bl-md hover:text-gray-600 active">Active</button>
      <button type="button" data-tab="order" data-tab-page="completed" class="bg-gray-900 text-sm font-medium text-gray-400 py-2 px-4 hover:text-gray-600">Completed</button>
      <button type="button" data-tab="order" data-tab-page="canceled" class="bg-gray-900 text-sm font-medium text-gray-400 py-2 px-4 rounded-tr-md rounded-br-md hover:text-gray-600">Canceled</button>
    </div>
    <div class="overflow-x-auto">
      <table class="w-full min-w-[640px]" data-tab-for="order" data-page="active">
        <thead>
          <tr>
            <th class="text-[12px] uppercase tracking-wide font-medium text-gray-400 py-2 px-4 bg-gray-900 text-left">#</th>
            <th class="text-[12px] uppercase tracking-wide font-medium text-gray-400 py-2 px-4 bg-gray-900 text-left">First Name</th>
            <th class="text-[12px] uppercase tracking-wide font-medium text-gray-400 py-2 px-4 bg-gray-900 text-left">Last Name</th>
            <th class="text-[12px] uppercase tracking-wide font-medium text-gray-400 py-2 px-4 bg-gray-900 text-left">Email</th>
            <th class="text-[12px] uppercase tracking-wide font-medium text-gray-400 py-2 px-4 bg-gray-900 text-left">Asal Sekolah</th>
            <th class="text-[12px] uppercase tracking-wide font-medium text-gray-400 py-2 px-4 bg-gray-900 text-left">Jurusan</th>
            <% if user_signed_in? %>
              <% if current_user.admin? %>
                <th col="3" class="text-[12px] uppercase tracking-wide font-medium text-gray-400 py-2 px-4 bg-gray-900 text-left">Actions</th>
              <% end %>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @crud_lists.each.with_index(1) do |crud_list, index| %>
            <tr data-id="<%= crud_list.id %>">
              <td class="py-2 px-4 border-b border-b-gray-50"><%= crud_list.id %></td>
              <td class="py-2 px-4 border-b border-b-gray-50"><%= crud_list.first_name %></td>
              <td class="py-2 px-4 border-b border-b-gray-50"><%= crud_list.last_name %></td>
              <td class="py-2 px-4 border-b border-b-gray-50"><%= crud_list.email %></td>
              <td class="py-2 px-4 border-b border-b-gray-50"><%= crud_list.sekolah.present? ? crud_list.sekolah.title : '' %></td>
              <td class="py-2 px-4 border-b border-b-gray-50"><%= crud_list.sekolah.present? ? crud_list.sekolah.jurusan : '' %></td>
              <% if user_signed_in? %>
                <% if current_user.admin? %>
                  <td class="py-2 px-4 border-b border-b-gray-50 text-center gap-36">
                    <%= link_to 'Show', crud_list, class: "text-blue-500 hover:text-blue-700" %>
                    <%= link_to 'Edit', edit_crud_list_path(crud_list), class: "text-yellow-500 hover:text-yellow-700 mx-2" %>
                    <%= link_to 'Destroy', crud_list, method: :delete, data: { confirm: 'Are you sure?' }, class: "text-red-500 hover:text-red-700" %>
                  </td>
                <% end %>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <br>
 <% if user_signed_in? %>
  <% if current_user.admin? %>
     <button class=" hover:bg-blue-700 text-white font-bold py-2 px-4  border border-white text-end">
     <%= link_to "New CRUD", new_crud_list_path, class: "inline-block px-4 py-2 text-white  hover:bg-blue-700 text-end" %>
     </button>
  <% end %>
<% end %>
  </div>
 
</div>


