<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CRUD App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
     <% # <%= javascript_include_tag :cocoon %> 
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", media: "all", 'data-turbo-track': "reload" %>
   
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag :cocoon %>
     <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    
    <script src="https://cdn.jsdelivr.net/npm/turbolinks@5.2.0/dist/turbolinks.js"></script>
    
    <script>
      Turbolinks.start();
    </script>

  </head>
  <body  class="text-gray-800 font-inter bg-gray-900">

    
    <% if controller_name != "sessions" && action_name != "" %>
      
    
    <%= render "home/nav" %>
    <%= render "home/header" %>
    
    <% end %>
     
      <% if notice %>
         <%= render "layouts/alert" %>
      <% end %>
     
      <%= yield %>

   <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
      // start: Sidebar

// end: Chart
    </script>
  </body>
</html>
